*
!pkglist
!pkglist-aur
!note
!sim.zip
!.gitconfig
!.gitignore
!secrets.kdbx
!knowledge/
!knowledge/*
!word2vec/
!word2vec/*
!.pi/
!.pi/agent/
!.pi/agent/APPEND_SYSTEM.md
!.pi/agent/skills/
!.pi/agent/skills/**
!.config/
!.config/fish/
!.config/fish/config.fish

!.config/helix/
!.config/helix/config.toml

!.config/kitty/
!.config/kitty/*
!
!.config/pacman/
!.config/pacman/*
!
!.config/pipewire/
!.config/pipewire/*
!.config/wireplumber/
!.config/wireplumber/wireplumber.conf.d/
!.config/wireplumber/wireplumber.conf.d/*
!
!.config/yadm/
!.config/yadm/*
!
!.config/bleachbit/
!.config/bleachbit/*
!
!.config/cava/
!.config/cava/*
!
!.config/fontconfig/
!.config/fontconfig/*
!
!.config/fontconfig/conf.d/
!.config/fontconfig/conf.d/*
!
!.config/htop/
!.config/htop/*
!
!.config/mpv/
!.config/mpv/*
!.config/mpv/scripts/
!.config/mpv/scripts/*
!
!.config/nvim/
!.config/nvim/init.lua
!
!.config/baloofileinformationrc
!.config/baloofilerc
!.config/dolphinrc
!
!.config/electron-flags.conf
!.config/kwalletrc
!.config/powerdevilrc
!
!.local/
!.local/share/
!.local/share/easyeffects/
!.local/share/easyeffects/output/
!.local/share/easyeffects/output/*
!
!.local/bin/
!.local/bin/rewrite-plus.sh
!.local/bin/runtime/
!.local/bin/runtime/themes/
!.local/bin/runtime/themes/*
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
