*
!note
!.gitconfig
!.gitignore

!.config/
!.config/fish/
!.config/fish/config.fish

!.config/kitty/
!.config/kitty/*
!
!.config/pacman/
!.config/pacman/*
!
!.config/pipewire/
!.config/pipewire/*
!.config/wireplumber/
!.config/wireplumber/wireplumber.conf.d/
!.config/wireplumber/wireplumber.conf.d/*
!
!.config/yadm/
!.config/yadm/*
!
!.config/bleachbit/
!.config/bleachbit/*
!
!.config/cava/
!.config/cava/*
!
!.config/fontconfig/
!.config/fontconfig/*
!
!.config/fontconfig/conf.d/
!.config/fontconfig/conf.d/*
!
!.config/htop/
!.config/htop/*
!
!.config/mpv/
!.config/mpv/*
!.config/mpv/scripts/
!.config/mpv/scripts/*
!
!.config/nvim/
!.config/nvim/init.lua
!
!.config/baloofileinformationrc
!.config/baloofilerc
!.config/dolphinrc
!
!.config/electron-flags.conf
!.config/kwalletrc
!.config/powerdevilrc
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
